### • Goal: Learn and use different models to solve a multi-class classification problem.
### • Background: This data collects personal information of clients. The management wants to build an intelligent system to segregate the people into credit score brackets to reduce the manual efforts
### • Author: Dhyey Dharmendrakumar Mavani

In [148]:
# checking the current working directory access
import os
print(os.getcwd())

/Users/dhyeymavani/Library/CloudStorage/GoogleDrive-dmavani25@amherst.edu/My Drive/Columbia VUS/SPRING2023/MATH GR 5430 MACHINE LEARNING FOR FINANCE/ML_Finance_HW2

# 1. Setup and Data Fetching (5 points)

In [149]:
# importing the data from the given csv (with cols separated by ";")
import pandas as pd
client_data = pd.read_csv("./HW2.csv")
client_data

/var/folders/rb/x4vhwjb16wj764ztdb96gnlh0000gn/T/ipykernel_24416/3412032739.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  client_data = pd.read_csv("./HW2.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

# 2. Exploratory Data Analysis

#### • Data cleaning: Some features have missing or invalid values. Choose the way you see as appropriate to clean the dataframe so that there are no missing or invalid values.

In [150]:
client_data_after_dropping_nas = client_data.dropna()
client_data_after_dropping_nas

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [151]:
# We can see that this is a unique identifier so it makes sense
# So we don't have to worry about any unusual values as far as ID is concerned
print(client_data_after_dropping_nas['ID'].value_counts())

0x1602     1
0x19af2    1
0x19ace    1
0x19ad0    1
0x19ad1    1
          ..
0xda7b     1
0xda7c     1
0xda7d     1
0xda82     1
0x25fed    1
Name: ID, Length: 53049, dtype: int64

In [152]:
print(client_data_after_dropping_nas['Month'].value_counts())

January     6744
May         6649
July        6637
June        6629
August      6624
April       6609
February    6589
March       6568
Name: Month, dtype: int64

In [153]:
print(type(client_data_after_dropping_nas['Age'][0]))

<class 'str'>

In [154]:
client_data_after_dropping_nas.reset_index(inplace = True)


for i in range(len(client_data_after_dropping_nas['Age'])):
    alpha_num_str = client_data_after_dropping_nas['Age'][i]
    num_str = '' .join((z for z in alpha_num_str if z.isdigit()))
    client_data_after_dropping_nas.iat[i, 5] = num_str

print(client_data_after_dropping_nas['Age'].value_counts())
print(type(client_data_after_dropping_nas["Age"][0]))

38      1657
28      1590
26      1558
34      1542
31      1541
        ...
2212       1
8081       1
7549       1
4583       1
1342       1
Name: Age, Length: 1009, dtype: int64
<class 'str'>

In [155]:
client_data_after_dropping_nas

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
3,9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53044,99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
53045,99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
53046,99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
53047,99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
53048,99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [235]:
client_data_after_dropping_nas["Age"] = client_data_after_dropping_nas["Age"].astype(int)
print(type(client_data_after_dropping_nas["Age"][0]))
temp_age_filtered_client_data = client_data_after_dropping_nas[client_data_after_dropping_nas['Age'] < 100]
age_filtered_client_data = temp_age_filtered_client_data[temp_age_filtered_client_data['Age'] > 0]

age_filtered_client_data

/var/folders/rb/x4vhwjb16wj764ztdb96gnlh0000gn/T/ipykernel_24416/1619725985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client_data_after_dropping_nas["Age"] = client_data_after_dropping_nas["Age"].astype(int)

<class 'numpy.int64'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
3,9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53044,99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
53045,99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
53046,99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
53047,99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
53048,99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [236]:
print(age_filtered_client_data['Occupation'].value_counts())

_______          3622
Lawyer           3455
Mechanic         3303
Teacher          3249
Doctor           3247
Entrepreneur     3238
Architect        3229
Media_Manager    3227
Accountant       3222
Engineer         3217
Scientist        3194
Developer        3156
Writer           3081
Musician         3058
Journalist       3032
Manager          3017
Name: Occupation, dtype: int64

In [237]:
occupation_filtered_client_data = age_filtered_client_data[age_filtered_client_data['Occupation'] != "_______"]
occupation_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
3,9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
5,12,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53044,99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
53045,99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
53046,99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
53047,99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
53048,99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [238]:
print(occupation_filtered_client_data['Annual_Income'].value_counts())

36585.12     10
9141.63      10
40341.16     10
17816.75      9
22434.16      8
             ..
28826.14_     1
48698.78_     1
91965.39_     1
16734.13_     1
39628.99_     1
Name: Annual_Income, Length: 14359, dtype: int64

In [239]:
del occupation_filtered_client_data['index']

occupation_filtered_client_data = occupation_filtered_client_data.reset_index()


for i in range(len(occupation_filtered_client_data['Annual_Income'])):
    alpha_num_str = occupation_filtered_client_data['Annual_Income'][i]
    num_str = '' .join((z for z in alpha_num_str if (z.isdigit() or z == ".")))
    head, sep, tail = num_str.partition('.')
    occupation_filtered_client_data.iat[i, 8] = head

print(occupation_filtered_client_data['Annual_Income'].value_counts())
print(type(occupation_filtered_client_data['Annual_Income'][0]))

occupation_filtered_client_data

17680       18
9045        17
15335       17
44768       17
14773       17
            ..
18924412     1
20300        1
29227        1
7448         1
8905         1
Name: Annual_Income, Length: 10718, dtype: int64
<class 'str'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,3,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,4,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,5,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,53044,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,53045,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,53046,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,53047,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,53048,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [240]:
occupation_filtered_client_data['Annual_Income'] = occupation_filtered_client_data['Annual_Income'].astype(int)
print(type(client_data_after_dropping_nas["Annual_Income"][0]))

occupation_filtered_client_data

<class 'str'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,3,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,4,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,5,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,53044,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,53045,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,53046,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,53047,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,53048,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [241]:
del occupation_filtered_client_data['index']

occupation_filtered_client_data = occupation_filtered_client_data.reset_index()

print(occupation_filtered_client_data['Monthly_Inhand_Salary'].value_counts())
print(type(occupation_filtered_client_data['Monthly_Inhand_Salary'][0]))

6082.187500    11
6358.956667    11
6639.560000    10
2273.499167     8
5675.516667     8
               ..
5542.483245     1
1096.827500     1
6987.415000     1
1303.672500     1
1610.393925     1
Name: Monthly_Inhand_Salary, Length: 11587, dtype: int64
<class 'numpy.float64'>

In [242]:
occupation_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,3,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

- ID:1
- Customer_ID: 2
- Month: 3
- Name: 4
- Age: 5
- SSN: 6 
- Occupation: 7
- Annual_Income: 8
- Monthly_Inhand_Salary: 9
- Num_Bank_Accounts: 10 
- Num_Credit_Card: 11
- Interest_Rate: 12
- Num_of_Loan: 13
- Type_of_Loan: 14
- Delay_from_due_date: 15 
- Num_of_Delayed_Payment: 16
- Changed_Credit_Limit: 17
- Num_Credit_Inquiries: 18 
- Credit_Mix: 19
- Outstanding_Debt: 20
- Credit_Utilization_Ratio: 21
- Credit_History_Age: 22
- Payment_of_Min_Amount: 23
- Total_EMI_per_month: 24
- Amount_invested_monthly: 25
- Payment_Behaviour: 26
- Monthly_Balance: 27
- Credit_Score: 28

In [243]:
print(type(occupation_filtered_client_data["Num_of_Loan"][0])) # 13

for i in range(len(occupation_filtered_client_data['Num_of_Loan'])):
    alpha_num_str = occupation_filtered_client_data['Num_of_Loan'][i]
    num_str = '' .join((z for z in alpha_num_str if (z.isdigit())))
    head, sep, tail = num_str.partition('_')
    occupation_filtered_client_data.iat[i, 13] = num_str

print(occupation_filtered_client_data['Num_of_Loan'].value_counts())

print(type(occupation_filtered_client_data['Num_of_Loan'][0]))

#occupation_filtered_client_data = occupation_filtered_client_data[occupation_filtered_client_data['Num_of_Loan'] != "-100"]

occupation_filtered_client_data

<class 'str'>
2      8180
3      8166
4      7974
1      5790
6      4201
       ...
284       1
438       1
288       1
719       1
966       1
Name: Num_of_Loan, Length: 214, dtype: int64
<class 'str'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,3,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [245]:

occupation_filtered_client_data["Num_of_Loan"] = occupation_filtered_client_data["Num_of_Loan"].astype(int)
print(type(occupation_filtered_client_data["Num_of_Loan"][0]))

loan_filtered_client_data = occupation_filtered_client_data[occupation_filtered_client_data["Num_of_Loan"] >= 0]
loan_filtered_client_data = loan_filtered_client_data[loan_filtered_client_data["Num_of_Loan"] <= 10]
loan_filtered_client_data
#print(loan_filtered_client_data['Num_of_Loan'].value_counts())

<class 'numpy.int64'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,3,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [246]:
bank_acc_filtered_client_data = loan_filtered_client_data[loan_filtered_client_data["Num_Bank_Accounts"] >= 0]
bank_acc_filtered_client_data = bank_acc_filtered_client_data[bank_acc_filtered_client_data["Num_Bank_Accounts"] <= 10]
bank_acc_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,3,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [247]:
credit_card_filtered_client_data = bank_acc_filtered_client_data[bank_acc_filtered_client_data["Num_Credit_Card"] >= 0]
credit_card_filtered_client_data = credit_card_filtered_client_data[credit_card_filtered_client_data["Num_Credit_Card"] <= 10]
credit_card_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
5,5,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47923,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [248]:
interest_filtered_client_data = credit_card_filtered_client_data[credit_card_filtered_client_data["Interest_Rate"] >= 0]
interest_filtered_client_data = interest_filtered_client_data[interest_filtered_client_data["Interest_Rate"] <= 35]
interest_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
5,5,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47919,47919,0x25fe1,CUS_0x8600,August,Sarah McBridec,29,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7,37.140784,6 Years and 3 Months,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.362988,Standard
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [249]:
delay_filtered_client_data = interest_filtered_client_data[interest_filtered_client_data["Delay_from_due_date"] >= 0]
delay_filtered_client_data = delay_filtered_client_data[delay_filtered_client_data["Delay_from_due_date"] <= 65]
delay_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
5,5,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47919,47919,0x25fe1,CUS_0x8600,August,Sarah McBridec,29,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7,37.140784,6 Years and 3 Months,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.362988,Standard
47920,47920,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
47921,47921,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
47922,47922,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [252]:
print(type(delay_filtered_client_data["Num_of_Delayed_Payment"][0])) # 13

del delay_filtered_client_data['index']

delay_filtered_client_data = delay_filtered_client_data.reset_index()

for i in range(len(delay_filtered_client_data["Num_of_Delayed_Payment"])):
    alpha_num_str = delay_filtered_client_data["Num_of_Delayed_Payment"][i]
    num_str = '' .join((z for z in alpha_num_str if (z.isdigit())))
    head, sep, tail = num_str.partition('_')
    delay_filtered_client_data.iat[i, 16] = head

print(delay_filtered_client_data['Num_of_Delayed_Payment'].value_counts())
print(type(delay_filtered_client_data['Num_of_Delayed_Payment'][0]))

<class 'str'>
19      2635
17      2609
16      2566
20      2544
15      2527
        ...
4219       1
2860       1
1608       1
823        1
2047       1
Name: Num_of_Delayed_Payment, Length: 357, dtype: int64
<class 'str'>

In [253]:
delay_filtered_client_data["Num_of_Delayed_Payment"] = delay_filtered_client_data["Num_of_Delayed_Payment"].astype(int)
print(type(delay_filtered_client_data["Num_of_Delayed_Payment"][0]))

delayed_pay_filtered_client_data = delay_filtered_client_data[delay_filtered_client_data["Num_of_Delayed_Payment"] >= 0]
delayed_pay_filtered_client_data = delayed_pay_filtered_client_data[delayed_pay_filtered_client_data["Num_of_Delayed_Payment"] <= 25]
delayed_pay_filtered_client_data

<class 'numpy.int64'>

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
3,3,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
4,4,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43015,43015,0x25fe1,CUS_0x8600,August,Sarah McBridec,29,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7,37.140784,6 Years and 3 Months,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.362988,Standard
43016,43016,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
43017,43017,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
43018,43018,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
43019,43019,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
# Current shell, do change credit limit, num credit inquiries, and then credit mix and so on

In [204]:
print(interest_filtered_client_data['Credit_Mix'].value_counts())
print(type(interest_filtered_client_data['Credit_Mix'][0]))

Standard    15819
Good         9412
Bad          9249
_            8760
Name: Credit_Mix, dtype: int64
<class 'str'>

In [206]:
credit_filtered_client_data = interest_filtered_client_data[interest_filtered_client_data['Credit_Mix'] != "_"]
credit_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
2,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
4,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
5,5,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
6,6,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.90434353388733,Low_spent_Small_value_payments,356.07810855965045,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47913,47913,0x25fd4,CUS_0xaf61,July,Chris Wickhamm,50,133-16-7738,Writer,37188,3097.008333,...,Good,620.64,38.850680,30 Years and 3 Months,No,84.205949,82.82557214415213,!@9#%8,412.669312,Good
47915,47915,0x25fda,CUS_0x8600,January,Sarah McBridec,28,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7_,22.895966,5 Years and 8 Months,Yes,60.964772,43.37067007268804,High_spent_Large_value_payments,328.655224,Poor
47916,47916,0x25fdb,CUS_0x8600,February,Sarah McBridec,28,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7_,39.772607,5 Years and 9 Months,Yes,12112.000000,148.2752327451465,Low_spent_Small_value_payments,273.750662,Poor
47919,47919,0x25fe1,CUS_0x8600,August,Sarah McBridec,29,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7,37.140784,6 Years and 3 Months,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.362988,Standard
47924,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [166]:
del credit_filtered_client_data['index']

credit_filtered_client_data = credit_filtered_client_data.reset_index()

print(credit_filtered_client_data['Outstanding_Debt'].value_counts())
print(type(credit_filtered_client_data['Outstanding_Debt'][0]))

1151.7     14
2089.58    12
1344.45    12
1109.03    12
1154.86    12
           ..
2655.37     1
586.46      1
1428.04     1
4456.34     1
809.98      1
Name: Outstanding_Debt, Length: 11139, dtype: int64
<class 'str'>

In [170]:
for i in range(len(credit_filtered_client_data['Outstanding_Debt'])):
    alpha_num_str = credit_filtered_client_data['Outstanding_Debt'][i]
    num_str = '' .join((z for z in alpha_num_str if (z.isdigit() or z == ".")))
    head, sep, tail = num_str.partition('.')
    credit_filtered_client_data.iat[i, 11] = head


credit_filtered_client_data

,index,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,1,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114,1824.843333,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
1,2,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
2,4,0x1612,CUS_0x21b1,May,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,34.977895,26 Years and 11 Months,No,18.816215,130.11542024292334,Low_spent_Small_value_payments,444.8670318506144,Good
3,5,0x1613,CUS_0x21b1,June,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,33.381010,27 Years and 0 Months,No,18.816215,43.477190144355745,High_spent_Large_value_payments,481.505261949182,Good
4,6,0x1615,CUS_0x21b1,August,Rick Rothackerj,28,004-07-5839,Teacher,34847,3037.986667,...,Good,605.03,32.933856,27 Years and 2 Months,No,18.816215,218.90434353388733,Low_spent_Small_value_payments,356.07810855965045,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38247,47915,0x25fda,CUS_0x8600,January,Sarah McBridec,28,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7_,22.895966,5 Years and 8 Months,Yes,60.964772,43.37067007268804,High_spent_Large_value_payments,328.655224,Poor
38248,47916,0x25fdb,CUS_0x8600,February,Sarah McBridec,28,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7_,39.772607,5 Years and 9 Months,Yes,12112.000000,148.2752327451465,Low_spent_Small_value_payments,273.750662,Poor
38249,47919,0x25fe1,CUS_0x8600,August,Sarah McBridec,29,031-35-0942,Architect,20002,1929.906667,...,Bad,3571.7,37.140784,6 Years and 3 Months,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.362988,Standard
38250,47923,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
38251,47924,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628,3359.415833,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [ ]:
"""
print(credit_filtered_client_data['Outstanding_Debt'].value_counts())
print(type(credit_filtered_client_data['Outstanding_Debt'][0]))

credit_filtered_client_data['Outstanding_Debt'] = credit_filtered_client_data['Outstanding_Debt'].astype(int)
print(type(credit_filtered_client_data["Outstanding_Debt"][0]))

credit_filtered_client_data
"""